@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid text-center">
        <iframe width="1500"
                height="800"
                src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                frameborder="0"
                allowfullscreen></iframe>
    </div>
